<%= render "navs/navbar" %>
<div id="homepage-container">
  <div class="container">
    <% if user_signed_in? %>
      <p class="lead">Salesforce Information:</p>
      <table class="table table-inverse table-responsive">
        <thead>
          <tr>
            <th>Object</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">User Email</th>
            <td><%= current_user.email %></td>
          </tr>
          <tr>
            <th scope="row">Instance URL</th>
            <td><%= current_user.instance_url %></td>
          </tr>
          <tr>
            <th scope="row">OAuth Token</th>
            <td><%= current_user.oauth_token %></td>
          </tr>
        </tbody>
      </table>
      <%= link_to "Display Contacts", accounts_path, class: "btn btn-lg btn-primary" %>
      <%= @accounts %>
    <% else %>
      <h1 class="display-3 text-center">Not Logged In</h1>
      <p class="lead text-center">You are not authenticated with Salesforce OAuth yet.</p>
    <% end %>
  </div>
</div>
